<lib-form-section
  title="Configurations"
  text="Extra layers of configurations that will be applied to the new Notebook.
        (e.g. Insert credentials as Secrets, set Environment Variables.)
        If this is your first notebook server, please DO NOT select 'Mount a Kerberos secret'.
        Use Kerberos mounting only after you manually create the secret.
        Otherwise, the notebook server will not be created.
        If in doubt, use default configuration settings."
  icon="fa:fas:sliders-h"
  i18n-title
  i18n-text
>
  <mat-form-field class="wide" appearance="outline">
    <mat-label i18n> Configurations </mat-label>
    <mat-select [formControl]="parentForm.get('configurations')" multiple>
      <mat-option *ngFor="let config of podDefaults" [value]="config.label">
        {{ config.desc }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</lib-form-section>
