<div class="center-flex">
  <div class="form-with-buttons">
    <div class="form--card-container mat-elevation-z2">
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formCtrl">
        <app-form-name-namespace
          [parentForm]="formCtrl"
        ></app-form-name-namespace>

        <app-form-image
          [parentForm]="formCtrl"
          [images]="config?.image?.options"
          [imagesGroupOne]="config?.imageGroupOne?.options"
          [imagesGroupTwo]="config?.imageGroupTwo?.options"
          [allowCustomImage]="config?.allowCustomImage"
          [hideRegistry]="config?.hideRegistry"
          [hideTag]="config?.hideTag"
        ></app-form-image>

        <app-form-cpu-ram
          [parentForm]="formCtrl"
          [readonlyCPU]="config?.cpu?.readOnly"
          [readonlyMemory]="config?.memory?.readOnly"
          [cpuLimitFactor]="config?.cpu?.limitFactor"
          [memoryLimitFactor]="config?.memory?.limitFactor"
        ></app-form-cpu-ram>

        <app-form-gpus
          [parentForm]="formCtrl"
          [vendors]="config?.gpus?.value.vendors"
        ></app-form-gpus>

        <app-form-workspace-volume
          [parentForm]="formCtrl"
          [pvcs]="pvcs"
          [readonly]="config?.workspaceVolume?.readOnly"
          [defaultStorageClass]="defaultStorageclass"
        >
        </app-form-workspace-volume>

        <app-form-configurations
          [parentForm]="formCtrl"
        ></app-form-configurations>

        <app-form-advanced-options
          [parentForm]="formCtrl"
        ></app-form-advanced-options>

      </form>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="form--button-margin"
      (click)="onSubmit()"
      [disabled]="!formCtrl.valid || blockSubmit"
      i18n
    >
      LAUNCH
    </button>

    <button mat-raised-button type="button" (click)="onCancel()" i18n>
      CANCEL
    </button>
  </div>
</div>
